# Xcode
*.xcuserstate
*.xcuserdatad
*.xcworkspace
xcschemes/
!xcschemes/xcschememanagement.plist
*.moved-aside
*.ipa
*.dSYM.zip
*.dSYM

# Build
build/
*.hmap
DerivedData/
*.世家

# CocoaPods (if used)
Pods/

# Archives
*.xcarchive

# Environment
.env
*.env

# macOS
.DS_Store
.AppleDouble
.LSOverride
